/*#region variables-and-colors */
:root {
  --primary-color: rgb(86, 151, 70);
  --primary-darker: rgb(50, 56, 44);
  --secondary-color: rgb(253, 80, 80);
  --secondary-darker: rgb(107, 48, 48);
  --text-primary-color: rgb(227, 255, 210);
  --text-secondary-color: rgb(245, 183, 183);

  --grape-solid: purple;
  --grape-back: rgb(219, 175, 219);
  --apple-solid: rgb(248, 99, 72);
  --apple-back: rgb(0, 0, 0);
  --orange-solid: orange;
  --orange-back: rgb(252, 232, 197);
  --banana-solid: rgb(210, 255, 87);
  --banana-back: rgb(255, 246, 193);
  --blueberry-solid: rgb(79, 96, 250);
  --blueberry-back: rgb(179, 225, 255);
}
/*#endregion*/

/*#region general-styling */
.hero {
  background-image: url(assets/img/peasintSpinProfile.gif);
  background-size: cover;
  background-repeat:repeat;
  height: 70vh;
}

.hero > a {
  text-decoration: none;
  background-color: var(--primary-color);
  font-size: 1.5em;
  padding: 1.5rem;
  border-radius: 10px;
}

header, h2 {
  text-align: center;
  color: pink;
  background-color: var(--secondary-color);
  border-radius: 5px;
  border: 5px solid var(--secondary-darker);
  margin: 10px;
  text-shadow: 3px 3px black;
  box-shadow: 5px 5px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: "permanentMarker";
  background-color: var(--primary-darker);
  color: var(--text-secondary-color);
  font-weight: bolder;
}

#monsterMakerBack {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 50%;
  z-index: -100;
  mix-blend-mode:color-dodge;
}

canvas {
  border:1px solid grey;
  background-color: white;
}

nav > div, nav {
  /* text-align: center;*/
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}

p, nav a {
  font-size: 25px;
  text-shadow: 3px 3px black;
  color: var(--text-primary-color);
  background-color: var(--primary-color);
  border-radius: 5px;
  border: 5px solid rgb(6, 48, 0);
  box-shadow: 5px 5px black;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  width: fit-content;
}


main {
  text-align: center;
}

a {
  color: aqua;
}


button:hover, a:hover {
  border: 5px dotted var(--text-primary-color);
}

button {
  border: 5px solid var(--primary-darker);
}

* {box-sizing:border-box}
/*#endregion */

/*#region fonts */
@font-face {
  font-family: "permanentMarker";
  src: url("assets/font/Permanentmarker-Regular.ttf");
}

.roboto-mono {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.rubik-dirt-regular {
  font-family: "Rubik Dirt", serif;
  font-weight: 400;
  font-style: normal;
}
/*#endregion */

/*#region image-carousel */
/* Slideshow container */
.slideshow-container {
  max-width: 80vh;
  position: relative;
  margin: auto;
}



.mySlides img {
  border-radius: 10px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.575);
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  text-shadow: 3px 3px black,
  -1px -1px black,
  1px -1px black,
  -1px 1px black;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  text-shadow: 1px 1px black,
  -1px -1px black,
  1px -1px black,
  -1px 1px black;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/*#endregion*/

/*#region animations */
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.shake {
  animation: shake 0.8s normal;
}

@keyframes shake{
  0%{
    transform: translateY(0)
  }
  25%{
    transform: translateY(5px);
  }

  50%{
    transform: translateY(-5px);
  }
  100%{
    transform: translateY(0px);
  }
}

.appear {
  animation: appear 5s ;
}

@keyframes appear{
  0%{
    opacity: 0%;
  }
  100%{
    opacity: 50%;
  }
}
/*#endregion*/

/*#region mobile-adjustments */
@media (min-width: 550px) {
  nav > .fa-bars{
    display: none;
  }

  nav {
    flex-direction: row;
  }
}

@media (max-width: 550px) {
  nav > div {
    display: flex;
    flex-direction: column;
  }

  .hidden--mobile {
    display: none;
  }

  .fa-bars {
    box-shadow: 2px 2px black;
  }
}
/*#endregion*/

